In [1]:
# Required libraries
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

In [2]:
# Read in data
df = pd.read_csv('../data/raw/Walmart.csv')

In [3]:
# Get snippet of data
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [4]:
# Columns in dataset
df.columns

Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')

In [5]:
# Drop unused columns
df.drop(['Store', 'Date'], axis = 1, inplace = True)

In [6]:
# Get X & y features
y = df['Weekly_Sales']
X = df.drop('Weekly_Sales', axis = 1)

In [7]:
# Split into train and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [8]:
# Get train and test df
X_train['Weekly_Sales'] = y_train
X_test['Weekly_Sales'] = y_test

In [9]:
# Save to .csv files
X_train.to_csv('../data/model_input/train.csv', index = False)
X_test.to_csv('../data/model_input/test.csv', index = False)